body
{
	background-color: #838383;
	background-image: url("hd-backgrounds-websites-350851-download-free-website-background-1920x1080-for-mobile-hd.jpg");
	background-repeat: no-repeat;
	background-size: 100% 150%;
	


	

}
.removeimg
{
	position: relative;
	right: 300px;
}

h1{
	font-size: 70px;
	color: #f4f6ff;
	margin-bottom: 10px;
	color: black;
	
	
}
.oned
{   
  //border: 0px solid #333;
  //box-shadow: 20px 50px 5px #666;
  //padding: 8px 12px;
	
	background-color:none;
	//position: relative;
	//top: 150px;
	margin: 250px 450px 0 450px;
	//height: 100px;
	
}
p{
	color: red;
	font-family: 'Sacramento', cursive;
	font-size: 45px;
	position: relative;
	left: 200px;
	bottom: 40px;

}



span{
	color: red;


}	

.foura{
	position: relative;
	left: 1040px;
	top:20px;
	color: #cbeaed;
	font-size: 25px;
	text-decoration: none;

}

.threea{
	position: relative;
	left: 1020px;
	top:20px;
	color: #cbeaed;
	font-size: 25px;
	text-decoration: none;

}
.twoa{
	position: relative;
	left: 1000px;
	top:20px;
	color: #cbeaed;
	font-size: 25px;
	text-decoration: none;

}
.onea{
	position: relative;
	left: 980px;
	top:20px;
	color: #cbeaed;
		font-size: 25px;
	text-decoration: none;

}
